{% extends 'base.html' %}

{% block content %}
<div class = "detail-box">
<div class="mycards">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card h-100">
                <img src="{{article.image.url}}"
                class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.content }}</p>
                    <p class="mycomment">Tag: {% for tag in article.taghash.all %} {{ tag.tagname }} {% endfor %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- 글 작성 하는 곳 -->
<div class="row justify-content-md-center">
<div class="col-md-4">
<form class="detail-box" action="/tweet/post-detail/comment/{{article.id}}" method="post">
    {% csrf_token %}
    <input type="text" class="form-control" id='comment' name='comment' placeholder="댓글을 작성 해 주세요"/>
    <button class="btn btn-outline-secondary" type="submit">작성</button>
</form>
<hr>
<!-- 반복문이 들어 갈 곳 -->
                {% for cm in comments %}
                    <div class="detail-box">
                        <div class="mycards">
                            <div class="row justify-content-md-center">
                                <div class="col-md-4">
                                    <h5 class="card-title"> {{ cm.comment }} </h5>
                                    <span> {{ cm.author.username }} </span>
                                    <span> - {{ cm.created_at | timesince }} 전</span>
                                    <div style="float: right">
                                        <a href="post-detail/comment/delete/{{ cm.id }}">
                                            <span class="badge bg-danger">삭제</span>
                                        </a>
                                    </div>
                                </div>
                                {% if cm.author == user %}
                                    
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
<!-- 반복문이 끝난 곳 -->
</div>
</div>
</body>

</html>
{% endblock %}