<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write</title>
</head>
<body>
    <h1>글을 작성해 주세요</h1>
     
    <form method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <input type = "title"  value = "{{ article }}" name = "title" id = "title" placeholder="제목작성"> 
        <input type = "text" name = "content" id = "content" placeholder="내용을 적어주세요"> 
        <input type="file" id="image" name="image">
        <input type = "submit">

    </form>
    
</body>
</html>